In [5]:
import mysql.connector

### 1. Create Connection

```
mydb = mysql.connector.connect(
    host = '',
    user = '',
    password = ''
)
```

In [6]:
local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '336542'
)

### 2. create connection - AWS RDS

In [8]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123'
)

### 3. close database

In [9]:
local.close()

In [10]:
remote.close()

### 4. 데이터 베이스를 추가해서 connection

In [11]:
local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '336542',
    database = 'zerobase'
)

In [12]:
local.close()

In [13]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

In [14]:
remote.close()

### Execute SQL 예제 1
    - 테이블 만들기

In [15]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute("CREATE TABLE sql_file (id int, filename varchar(16))")

remote.close()

### Execute SQL 예제 2
    - 테이블 삭제

In [16]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute("DROP TABLE sql_file")

remote.close()

### Execute SQL 예제 3
    - test03.sql 파일 실행하기

In [18]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

remote.close()

### Execute SQL 예제 4
    - Query가 여러개 존재하는 test04.sql 파일 실행하기

In [21]:
remote = mysql.connector.connect(
    host = 'database-1.csnfhisafzda.us-east-1.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open("test04.sql").read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()
remote.close()

INSERT INTO sql_file VALUES (1, 'test01.sql')
INSERT INTO sql_file VALUES (2, 'test02.sql')
INSERT INTO sql_file VALUES (3, 'test03.sql')
INSERT INTO sql_file VALUES (4, 'test04.sql')

### Fech All 예제 
    - 결과를 배열로 한번에 전부 반환.
    - Celeb 테이블을 조회 해보자.
    - 읽어올 양이 많은 경우 buffered=True

In [1]:
import mysql.connector

In [3]:
remote = mysql.connector.connect(
    host = "database-1.csnfhisafzda.us-east-1.rds.amazonaws.com",
    port = 3306,
    user = 'admin',
    password = 'qweasd123',
    database = 'zerobase'
)

In [4]:
cur = remote.cursor(buffered=True)
cur.execute("select * from sql_file")

result = cur.fetchall()
result

[(1, 'test01.sql'), (2, 'test02.sql'), (3, 'test03.sql'), (4, 'test04.sql')]

In [5]:
for result_iterator in result:
    print(result_iterator)

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

#### 판다스로 데이터프레임 만들기

In [6]:
remote.close()

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(result)
df.head()

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql